@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
  background: #f55b04;
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca4c03;
}

@keyframes onRightLoad {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes onLeftLoad {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/**************************************** NavBar items ****************************************/

/* nav {
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageLogo {
  width: 50%;
}

.pageLogo img {
  cursor: pointer;
  width: 150px;
  user-select: none;
}

.navItems {
  width: 50%;
  display: flex;
  padding-left: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.navItems h3 {
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  color: #f55b04;
  transition: all 0.5s linear;
  user-select: none;
}

.navItems h3:hover {
  color: black;
} */

/************************************** AboutUs items ********************************************/

/* .adoutUs {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutShalabh h2 {
  font-family: Roboto Mono;
  font-style: normal;
  width: 50vw;
  height: 58px;
  font-weight: 500;
  font-size: 5vw;
  user-select: none;
  animation: onLeftLoad 0.3s linear;
}

.aboutShalabh h2 span {
  font-family: Roboto Mono;
  font-style: normal;
  width: 415px;
  height: 58px;
  font-weight: 800;
  color: #f55b04;
  font-size: 5vw;
}

.aboutShalabh h4 {
  padding-top: 5.5%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 200;
  font-size: 2.5vw;
  width: 400px;
  height: 46px;
  animation: onLeftLoad 0.4s linear;
  user-select: none;
}
.aboutImage {
  width: 500px;
  user-select: none;
  animation: onRightLoad 0.3s ease-out;
}

.aboutImage img {
  width: 90%;
  height: 100%;
}

.resumeButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  background-color: black;
  width: 199px;
  height: 40px;
  border-radius: 10px;
  user-select: none;
  animation: onLeftLoad 0.5s linear;
}

.downloadCV {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
} */

/*************************************About Me********************************/

/* .aboutMe {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.aboutMeDiv {
  margin-top: 0%;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: flex-center;
}

.aboutMeImage {
  width: 20vw;
  height: 20vw;
  background-color: #f55b04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -15px -2px 10px #e78267;
  user-select: none;
  animation: onLeftLoad 0.3s linear;
}

.aboutMeImage img {
  height: 15vw;
  width: 15wv;
}

.aboutMeWriting {
  width: 50%;
  user-select: none;
}

.aboutMeWriting h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
}

.aboutMeWriting h2 span {
  color: #f55b04;
}

.aboutMeWriting h4 {
  padding-top: 2vw;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
} */

/**************************************** Skills **********************************/

/* .skillsMain {
  height: 90vh;
  display: flex;
  align-items: center;
}

.SkillsImage {
  position: relative;
  height: 30vw;
  width: 100%;
  background-color: #f55b04;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .skillsTag {
  position: absolute;
  top: 0;
  right: 4%;
  width: 7rem;
  height: 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 20px 10px;
}

.skillsTag span {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
} */

/* .webDev {
  position: relative;
  height: 20vw;
  width: 25vw;
  user-select: none;
}

.webDevHeading {
  position: absolute;
  height: 20vw;
  width: 25vw;
  top: 0%;
  left: 0%;
  color: white;
  font-family: Roboto Mono;
  background-color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.webDevInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vw;
  width: 25vw;
  background-image: url("./images/skillsBackGroundImage.jpeg");
  transition: all 0.5s ease-in;
  opacity: 0;
}

.webDevInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.webDevInner span {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
}

.webDevInner:hover {
  opacity: 1;
}

.webDev img {
  height: 20vw;
  width: 25vw;
}

.electronics {
  position: relative;
  height: 20vw;
  width: 25vw;
  user-select: none;
}

.electronicsHeading {
  position: absolute;
  height: 20vw;
  width: 25vw;
  top: 0%;
  left: 0%;
  color: white;
  font-family: Roboto Mono;
  background-color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.electronicsInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vw;
  width: 25vw;
  background-image: url("./images/skillsBackGroundImage.jpeg");
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
}

.electronicsInner span {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
}

.electronicsInner:hover {
  opacity: 1;
}

.electronics img {
  height: 20vw;
  width: 25vw;
}

.tools {
  position: relative;
  height: 20vw;
  width: 25vw;
  user-select: none;
}

.toolsHeading {
  position: absolute;
  height: 20vw;
  width: 25vw;
  top: 0%;
  left: 0%;
  color: white;
  font-family: Roboto Mono;
  background-color: black;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.toolsInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 20vw;
  width: 25vw;
  background-image: url("./images/skillsBackGroundImage.jpeg");
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
}

.toolsInner span {
  color: white;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
}

.toolsInner:hover {
  opacity: 1;
}

.tools img {
  height: 20vw;
  width: 25vw;
} */

/******************************** Contact Me *************************/

/* .contact-me {
  height: 50vh;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
}

.contactMeHeading h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  color: #f55b04;
}

.contactMeDetails {
  margin-top: 4rem;
  display: flex;
}

.emailDetails {
  margin-right: 1rem;
  width: 21rem;
  height: 4rem;
  background: linear-gradient(
    258.35deg,
    #000000 -2.02%,
    #8d3402 48.59%,
    #f55b04 70.69%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emailDetails h5 {
  margin: 0 2% 0 3%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.emailDetails h6 {
  padding: 1% 2% 0 3%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.phoneDetails {
  width: 17rem;
  height: 4rem;
  background: linear-gradient(
    258.35deg,
    #000000 -2.02%,
    #8d3402 48.59%,
    #f55b04 70.69%
  );
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phoneDetails h5 {
  padding: 0 2% 0 3%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

.phoneDetails h6 {
  padding: 1% 2% 0 3%;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;
}

/************************* Social Links *************************/

/* .social-Links {
  margin-top: 5rem;
  display: flex;
  justify-content: start;
  width: 100%;
}

.social-design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 13rem;
}

.linkedin-logo {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: #0077b5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkedin-logo i {
  color: #ffffff;
  font-size: x-large;
}

.gitHub-logo i {
  cursor: pointer;
  font-size: 3rem;
}

.instagram-logo {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(
    219.51deg,
    #6b01b9 17.79%,
    #6a01b9 28.06%,
    #ba03a7 46.1%,
    #f6640e 81.16%,
    rgba(234, 234, 234, 0) 105.3%
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-logo i {
  color: #ffffff;
  font-size: x-large;
}  */
